{% extends 'base.html' %}

{% block title %}products{% endblock %}

{% block content %}
    <h1>Products:</h1>
    <div class="card-group">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ product.images.first }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'product:product' pk=product.pk %}" class="btn btn-primary">Product detail</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}